.DocSearch {
    width: 100%;
}

.DocSearch-Button {
    padding: 20px 20px !important;
    border: 1px solid #eaeaec !important;
}

.DocSearch-Button:hover {
    box-shadow: inset 0 0 0 2px white !important;
}

.DocSearch-Button .DocSearch-Search-Icon {
    color: #969faf !important;
}

@media (prefers-color-scheme: dark) {
    .DocSearch-Button {
        background: #101829 !important;
    }
}

.dark .DocSearch-Button {
    background: #101829 !important;
    border: 1px solid #1b2639 !important;
}

.DocSearch-Search-Icon {
    margin-right: 14px;
    width: 15px;
    height: 15px;
}

.version-switcher {
    border: 1px solid #eaeaec !important;
}

.version-switcher:hover {
    border: 1px solid #eaeaec !important;
    box-shadow: inset 0 0 0 2px white !important;
    transition: all 0.1s ease-in-out;
}

[id] {
    scroll-margin-top: 50px;
}

@media (max-width: 768px) {
    [id] {
        scroll-margin-top: 100px;
    }
}