@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs-section, .hljs-title {
    color: #4fd2a8;
    font-weight: 700;
}

.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
    color: #4fd2a8;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
    color: #c7f39b;
}

.hljs-meta {
    color: #2ba4de;
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag {
    font-weight: 700;
    color: #f0e68c;
}

.hljs-punctuation, .hljs-tag {
    color: #696969f5;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-links);
    text-decoration: none;
    font-weight: 500;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
    color: #c7c7c7;
    content: "#";
  }

  .text-gray-prime {
    color: #6C7379;
  }
  .text-primary-blue {
    color: #328DDF;
  }
  .text-primary-blue-deep {
    color: #1A63A4;
  }
  .text-primary-gray {
    color: #6C7379;
  }
  .text-primary-gray-400 {
    color: #979DA2;
  }
  .bg-primary-blue-deep {
    background-color: #1A63A4;
  }
  .text-4xl {
    letter-spacing: -0.01em;
  }
  .text-h1-gradient {
      background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: linear-gradient(129deg, #4f9edd, #479bde, #65a9d9, #15a6c9, #07becc);
  }
  .h1-72px {
      font-size: 72px;
      line-height: 1.1;
  }

  .code-highlighter {
    background-color: #282c34;
    border-radius: 6px;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
}
.code-header {
    display: flex;
    justify-content: space-between;
    background-color: #21252b;
    padding: 8px 16px;
    color: #abb2bf;
}
.copy-button {
    background-color: #3e4451;
    border: none;
    color: #abb2bf;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.code-highlighter pre {
    margin: 0;
    padding: 16px;
    overflow-x: auto;
}
.code-highlighter code {
    color: #f0f1f3;
}
.keyword { color: #c678dd; }
.boolean { color: #d19a66; }
.string { color: #98c379; }
.comment { color: #a1a2a5; font-style: italic; }
.function { color: #61afef; }
.variable { color: #acefff; }
.number { color: #d19a66; }

.gradient-boarder-selected {
    border: 2px solid transparent;
    border-radius: 10px;
    background: linear-gradient(to right, white, white), linear-gradient(to right, #4c9ddd, #0eb6cb);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
